body {
  font-family: "Source Sans Pro", sans-serif;
}

$cell-size: 105px;
$border-size: 10px;
$border-radius: 3px;

.btn {
  background: white;
  border: 1px solid #CCC;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 13px;
  margin: 10px 0;
  padding: 7px 10px;
}

.game {
  background: red;
  border-radius: $border-radius * 2;
  padding: $border-size;
  position: absolute;

  &--over {
    align-items: center;
    background: rgba(0, 0, 0, .8);
    border-radius: $border-radius * 2;
    color: white;
    display: flex;
    height: 470px;
    justify-content: center;
    position: absolute;
    width: 470px;
    z-index: 10;
  }

  &__row {
    display: flex;
    margin: 0 auto;
    margin-bottom: $border-size;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cell {
    border-radius: $border-radius;
    height: $cell-size;
    width: $cell-size;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $border-size;

    font-size: 42px;
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }

    &--2 {
      background: black;
      color: white;
    }

    &--4 {
      background: white;
      color: black;
    }

    &--empty {
      background: pink;
    }
  }
}
